/*
Syntax error: File to import not found or unreadable: partials/monthly-winners.
              Load paths:
                /d3/sites/raritanphoto.com/wordpress/content/themes/suffu-rps/sass
                /opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 34 of /d3/sites/raritanphoto.com/wordpress/content/themes/suffu-rps/sass/rps.scss

Backtrace:
/d3/sites/raritanphoto.com/wordpress/content/themes/suffu-rps/sass/rps.scss:34
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `rescue in import'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:45:in `import'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `block in compile'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `block in run'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/commands/watch_project.rb:47:in `perform'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/commands/base.rb:18:in `execute'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/commands/project_base.rb:19:in `execute'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/bin/compass:30:in `block in <top (required)>'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/bin/compass:44:in `call'
/opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/bin/compass:44:in `<top (required)>'
/opt/rbenv/versions/2.0.0-p195/bin/compass:23:in `load'
/opt/rbenv/versions/2.0.0-p195/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/monthly-winners.\A               Load paths:\A                 /d3/sites/raritanphoto.com/wordpress/content/themes/suffu-rps/sass\A                 /opt/rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 34 of /d3/sites/raritanphoto.com/wordpress/content/themes/suffu-rps/sass/rps.scss"; }
