@import "compass";
@include global-reset;

@import "assets/variables";
@import "assets/mixins";

@import "suffusion/main";
@import "suffusion/rounded-corners";
@import "suffusion/light-royal-blue";
@import "suffusion/dark-style";
@import "suffusion/dark-royal-blue";

@import "partials/header";
@import "partials/navigation-bar";

$base-font-size: 14px;
$base-line-height: 19px;
@include establish-baseline;

body {
  font-family: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
  @include adjust-font-size-to(14px);
  background-attachment: scroll;
  background-image: $background-img;
  background-repeat: repeat;
  color: #b8b8b8;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  background-color: #444;
}

.entry, .non-wp-entry, .suf-mag-category, .suf-mag-excerpt, .suf-tile {
  @include adjust-font-size-to(14px);
}

h2.suf-mag-excerpt-title {
  @include adjust-font-size-to(15px);
  a,
  a:hover,
  a:visited,
  a:active {
    @include adjust-font-size-to(15px);
  }
}
h2.suf-tile-title {
  @include adjust-font-size-to(15px);
  a,
  a:hover,
  a:visited,
  a:active {
    @include adjust-font-size-to(15px);
  }
}


.suf-mag-excerpt-full-story {
  font-size: 0.9em;
}

#commentform textarea {
  font-size: 1em;
  font-family: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
}

.suf-gradient {
  @include gradient-transparent;
}

.suf-mag-headline-block li.suf-mag-headline a.tab-current, h2.suf-mag-category-title {
  @include gradient-opaque;
}

a.excerpt-more-append,
a.suf-mag-excerpt-full-story {
  @include gradient-opaque;
}

.warea a.suf-mag-category-all-posts, a.suf-mag-category-all-posts {
  @include gradient-opaque;
}

.post .date {
  @include gradient-opaque;
  border-radius: 3px;
}

.suf-mag-excerpts:after {
  margin: 5px;
}

h2.suf-tile-title {
  margin-top: 0;
  text-align: left;
}

.suf-mag-excerpts h3 {
  font-family: Oswald;
  @include adjust-font-size-to(21px);
  font-weight: 400;
  line-height: 2em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  a {
    color: #EEEEEE;
    text-decoration: none;
  }
}

h2.suf-tile-title a {
  font-size: 58%;
  &:hover, &:visited, &:active {
    font-size: 58%;
  }
}

.breadcrumb {
  font-size: 92%;
  padding: 0;
}

#header-container {
  background-image: $header-img;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

input[type="email"] {
  border-radius: 5px;
}

/**
* Showcase
*/

.rps-showcases {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  h3 {
    font-family: Oswald;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    padding: 0;
  }
  &:after {
    content: "";
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
  }
}

.rps-sc-tile {
  border-radius: 5px 5px 5px 5px;
  background-color: #000000;
  border: 1px solid #555555;
  padding-top: 0;
  display: inline-block;
  font-size: 108%;
  line-height: 20px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.rps-showcases {
  .image {
    text-align: center;
  }
  .thumb_img {
    vertical-align: middle;
  }
  .col-control {
    width: 960px;
  }
  .suf-tile {
    margin-bottom: 3px;
  }
  ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
  }
  li {
    &:last-child {
      margin-left: 12px;
      margin-right: 12px;
    }
    float: left;
    line-height: 150px;
    margin: 0 6px 10px 12px;
    min-height: 154px;
    padding: 10px;
    width: 150px;
  }
}

#rps_showcase .dbx-box {
  margin: 0;
}

#rps-others:after {
  content: "";
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
}

/**
* Theme My Login
*/

#theme-my-login *:focus {
  background-color: #999999;
  color: #333333;
  outline: 0 none;
}

ul.tml-action-links {
  display: block;
  float: right;
  list-style: none;
  margin: 0 0 -1px 0;
  padding: 0;
  vertical-align: bottom;
  li {
    padding: 0;
  }
}

/**
 * Event Manager
 */

.em-location-map {
  border-radius: 5px;
}

.event-list {
  list-style: disc outside none;
  padding: inherit;
  text-align: left;
}

/**
 * Gravity Forms
 */

.gform_wrapper {
  *:focus {
    background-color: #999999;
    color: #333333;
    outline: 0 none;
  }
  select {
    background-color: #333333;
    background-origin: padding-box;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #555555;
    color: #999999;
    font-family: inherit;
    font-size: 11px;
    letter-spacing: normal;
    padding: 3px 0;
  }
  .chzn-container .chzn-drop {
    background-color: #999999;
    color: #333333;
    border: 1px solid #555555;
  }
  .chzn-container-single .chzn-single {
    div {
      background-color: #333333;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, black));
      background-image: -webkit-linear-gradient(center bottom, #333333 0%, black 100%);
      background-image: -moz-linear-gradient(center bottom, #333333 0%, black 100%);
      background-image: -o-linear-gradient(top, #333333 0%, black 100%);
      background-image: -ms-linear-gradient(top, #333333 0%, black 100%);
      background-image: linear-gradient(top, #333333 0%, black 100%);
      border-left: 1px solid #555555;
    }
    background-color: #333333;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, black));
    background-image: -webkit-linear-gradient(center bottom, #333333 0%, black 100%);
    background-image: -moz-linear-gradient(center bottom, #333333 0%, black 100%);
    background-image: -o-linear-gradient(top, #333333 0%, black 100%);
    background-image: -ms-linear-gradient(top, #333333 0%, black 100%);
    background-image: linear-gradient(top, #333333 0%, black 100%);
    border: 1px solid #555555;
    color: #999999;
  }
  .chzn-container-active {
    .chzn-single {
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
      -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
    .chzn-single-with-drop {
      border: 1px solid #555555;
      background-color: #333333;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, black));
      background-image: -webkit-linear-gradient(center bottom, #333333 0%, black 100%);
      background-image: -moz-linear-gradient(center bottom, #333333 0%, black 100%);
      background-image: -o-linear-gradient(top, #333333 0%, black 100%);
      background-image: -ms-linear-gradient(top, #333333 0%, black 100%);
      background-image: linear-gradient(top, #333333 0%, black 100%);
    }
  }
  .chzn-container .chzn-results .highlighted {
    background-color: #555555;
  }
  .chzn-container-single .chzn-search input {
    border: 1px solid #555;
  }
}

#picatcha {
  background-color: inherit !important;
  border: 1px solid #555555 !important;
}

.picatcha .img_btn {
  border: 2px solid #555555 !important;
}
