$color-royal-blue-light: rgb(65,105,225);
$color-royal-blue-dark: rgb(0,35,102);
$color-royal-blue-light-opaque: rgba(65,105,225,1);
$color-royal-blue-light-transparent: rgba(65,105,225,0);
$color-royal-blue-dark-opaque: rgba(0,35,102,1);
$color-royal-blue-dark-transparent: rgba(0,35,102,0);

$background-img: image-url('black_denim.png', false, false);
$header-img: image-url('RPS-LOGO-2012.jpg', false,false);

$arrows-img: image-url('arrows.gif', false, false);