$color-royal-blue-light: rgb(65,158,251);
$color-royal-blue-dark: rgb(0,82,164);
$color-royal-blue-light-fully-opaque: rgba(65,158,251,1);
$color-royal-blue-dark-no-opaque: rgba(0,82,164,0);

$background-img: image-url('black_denim.png', false, false);
$header-img: image-url('RPS-LOGO-2012.jpg', false,false);

$arrows-img: image-url('arrows.gif', false, false);