/* Credits  */
//#page-footer {
//  margin-top: 10px;
//  overflow: hidden;
//  border-top: 1px solid $color-border;
//  #cred {
//    border-top: none;
//  }
//}
#cred {
  border-top: 1px solid $color-border;
  @include adjust-font-size-to($base-font-size * 0.8);
  padding: 0;
  clear: both;
  height: auto;
  overflow: hidden;
  .designer {
    padding: 8px 22px;
    float: left;
  }
  a {
    @include link-style($color: $color-text);
  }
  .valid {
    padding: 8px 22px;
    float: right;
  }
  table {
    border: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }
  td {
    vertical-align: top;
    width: 33%;
    &.cred-left {
      text-align: left;
    }
    &.cred-center {
      text-align: center;
    }
    &.cred-right {
      text-align: right;
    }
  }

ul {
margin: 0;
padding: 0;
display: inline-block;
    li {
    padding-right: 1rem;
    float: left;
      a {
        color: $color-text-highlight;
        text-decoration: none;
        &:hover, &:visited, &:active {
          color: $color-text-highlight;
          text-decoration: none;
        }
        &.rps-facebook {
          padding-left: 24px;
          @extend .social-facebook;
        }
        &.rps-meetup {
          padding-left: 24px;
          @extend .social-meetup;
        }
        &.rps-google-plus {
          padding-left: 24px;
          @extend .social-google-plus;
        }
        &.rps-twitter {
          padding-left: 24px;
          @extend .social-twitter;
        }

      }
    }
  }
  }