.suf-mag-excerpts {
  width: 100%;
  padding: 0;
  display: inline-block;
  h3 {
    font-family: $headings;
    @include adjust-font-size-to($base-font-size-oswald * 1.75, 1.75);
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &:after {
    marging: 5px;
  }
}

.rps-welcome {
  width: 100%;
  padding: 0;
  display: inline-block;
  h3 {
    font-family: $headings;
    @include adjust-font-size-to($base-font-size-oswald * 1.75 * 1.1, 1.75 * 1.1);
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &:after {
    marging: 5px;
  }
}

.rps-welcome .suf-tile-text {
  p {
    @include adjust-font-size-to($base-font-size-full-story * 1.1, 1.1, $base-font-size-full-story);
    //@include rhythm($font-size: $base-font-size-full-story * 1.1)
 
  }
}

.suf-mag-headline-block li.suf-mag-headline a {
  color: #fff;
}

h2 {
  &.suf-mag-excerpt-title, &.suf-tile-title {
    color: $color-text-highlight;
    @include adjust-font-size-to($base-font-size * 1.2, 1);
    font-weight: 700;
    border-top: 1px dotted #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
    padding: 5px 0;
    margin-right: 8px;
    margin-left: 8px;
    a {
      color: $color-text-highlight;
      text-decoration: none;
      &:hover, &:visited, &:active {
        color: $color-text-highlight;
        text-decoration: none;
      }
    }
  }
}

.suf-mag-excerpts-header {
  border-color: $color-border;
  background-color: #000;
  color: #ddd;
}

.suf-tile-text > table {
  margin-left: 8px;
  td {
    vertical-align: top;
  }
  &:after {
    content: "";
    border-top: 1px;
  }
}

.suf-mag-category, .suf-mag-excerpt, .suf-tile {
  @include adjust-font-size-to($base-font-size);
  @include border-radius(5px);
  padding: 0 0 8px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  padding-bottom: 1em;
}

.suf-mag-excerpt-text {
  @include padding-trailer;
}

.suf-mag-excerpt-text p, .suf-tile-text p {
  @include rhythm;
  margin-left: 8px;
  margin-right: 8px;
}

/**
* Showcase
*/

.rps-showcases {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  .image {
    text-align: center;
  }
  .thumb_img {
    vertical-align: middle;
  }
  .col-control {
    width: 960px;
  }
  .suf-tile {
    margin-bottom: 3px;
  }
  ul {
    float: left;
    list-style: none outside none;
    margin: 0 4px;
    padding: 0;
    vertical-align: bottom;
  }
  li {
    float: left;
    line-height: 150px;
    margin: 0 13px 10px;
    min-height: 154px;
    padding: 10px;
    width: 150px;
    &:last-child {
      margin-bottom: 10px;
    }
  }
  h3 {
    @include adjust-font-size-to($base-font-size-oswald * 1.5, 1.5);
    font-family: $headings;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
  }
  &:after {
    content: "";
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
  }
}

.rps-sc-tile {
  @include border-radius(5px);
  background-color: #000000;
  border: 1px solid $color-border;
  padding-top: 0;
  display: inline-block;
  font-size: 108%;
  line-height: 20px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/**
* Misc boxes
*/
.rps-misc {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  display: inline-block;
  h3 {
    font-family: $headings;
    @include adjust-font-size-to($base-font-size-oswald * 1.3, 1.3);
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &:after {
    marging: 5px;
  }
  .suf-tile-text {
    text-align: left;
  }
  ul {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    padding: 0;
    li {
      a {
        color: $color-text-highlight;
        text-decoration: none;
        &:hover, &:visited, &:active {
          color: $color-text-highlight;
          text-decoration: none;
        }
      }
    }
  }
}

/* Props to the brilliant technique highlighted here: http://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs.
 This distributes divs equally in a fluid-width row without any JS hack and without using CSS multi-columns. */

.suf-tiles, .suf-mag-excerpts, .rps-showcases, .rps-misc {
  text-align: justify;
  -ms-text-justify: distribute;
  text-justify: distribute;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
}

.suf-tile-1c {
  width: 100%;
}

.suf-tile-2c {
  width: 49%;
}

.suf-tile-3c {
  width: 32%;
}

.suf-tile-4c {
  width: 24%;
}

.suf-tile-5c {
  width: 19%;
}

.suf-tile-6c {
  width: 16%;
}

.suf-tile-7c {
  width: 13%;
}

.suf-tile-8c {
  width: 12%;
}

.suf-tile-9c {
  width: 10.5%;
}

.suf-tile-10c {
  width: 9.5%;
}
