/* sub menu */

#subnav li a:hover, .hier-nav li a:hover, .postdata a:hover, h1.posttitle a:hover, h2.posttitle a:hover, .tags a:hover, .page-nav a:hover, .post-nav a:hover {
  color: #227ad1;
}

/* Level 3 */

/* content */

/* post title */

/* next & previous page navigation */

/* next & previous post navigation */

.suf-page-nav a.page-numbers {
  color: #227ad1;
  &:visited {
    color: #227ad1;
  }
}

/* comment list */

.commentlist cite {
  color: #227ad1;
  a {
    color: #227ad1;
    &:visited {
      color: #227ad1;
    }
  }
}

/* Credits  */

#cred a:hover {
  color: #227ad1;
}

.suf-widget a {
  &:hover, &:focus, &:active {
    color: #227ad1;
  }
}

.warea a {
  &:hover, &:focus, &:active {
    color: #227ad1;
  }
}

/* These settings are for common plugins */

.wp-pagenavi {
  a {
    color: #227ad1;
    &:visited {
      color: #227ad1;
    }
  }
  span {
    color: #227ad1;
  }
  a:hover {
    color: #fff;
  }
}
