.button {
  width: auto;
  color: $color-button-text;
  border: solid 1px $color-button-border;
  @include gradient-buttons;
  @include adjust-font-size-to($font-small);
  &:hover, &:active, &:focus {
    color: $color-button-text;
    @include gradient-buttons-active;
  }
}

strong {
  font-weight: 700;
}

.hide {
  display: none;
}

//.button, input[type="submit"], .submit {
//  font-weight: normal;
//  margin: 0;
//  padding: 3px 15px 3px 15px;
//}

blockquote {
  @include apply-side-rhythm-border($side: left, $width: 3px);
  font-style: italic;
}

pre {
  font-family: "Courier New", Courier, Monaco, "Lucida Console", monospace;
  overflow: auto;
  background-color: #333333;
  @include rhythm-borders($width: 1px, $border-style: solid);
}
