.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {}

.gallery-item-content {
  @include rhythm-borders($width: 1px, $border-style: solid);
  @include border-radius(0.5rem);
  border-color: #555555;
  //padding: 1rem;
  position: relative;
  text-align: center;
}

.gallery-size-thumbnail .gallery-item-content {
  width: 150px;
}

.gallery-masonry {
  margin: 0 auto;
  figure {
    margin-bottom: 5px;
  }
}

.gallery-size-250 {
  .gallery-item-content {
    height: 310px;
    width: 250px;
  }
}

.gallery-size-150 {
  .gallery-item-content {
    height: 150px;
    width: 150px;
  }
}

// Caption shortcode
.wp-caption {
  @include rhythm-borders($width: 1px, $border-style: solid);
  @include border-radius(0.5rem);
  border-color: #555555;
  text-align: center;
}

//
// Caption text in galleries
//
.wp-caption-text {
  @include adjust-font-size-to($base-font-size-oswald * 1, 1);
  @include margin-leader(0.5);
  font-family: $headings;
  margin-bottom: 0;
}

p.wp-caption-text {
  margin-bottom: 0;
}

.rps-showcases {
  .gallery ul {
    margin: 1rem;
  }
  .gallery-item-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.rps-showcase-category-winner {
  .gallery-size-250 {}
  .gallery ul {
    padding: 1rem;
    margin: 0;
  }
  .gallery-item-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.gallery-row {
  margin-bottom: 2rem;
}
