.gallery-size-thumbnail {
	.gallery-item {
		@include border-radius(5px);
    	border: 1px solid $color-border;
    	margin: 0 13px 10px;
    	min-height: 174px;
    	padding: 10px;
    	width: 150px;
    	float: left;
    }
    ul li {
    	list-style: none outside none;
    }
 }

.wp-caption {
	@include border-radius(5px);
    border: 1px solid $color-border;
    min-height: 154px;
    padding: 10px;
    width: 160px;

}

    .wp-caption-text {
    @include adjust-font-size-to($base-font-size-oswald * 1, 1);
    font-family: $headings;
    margin-bottom: 0;
    }